.project-section{
    padding: 7.5rem 0;
    .project-heading{
        @include section-heading();
        padding: 0 20px 48px 20px;
    }
    .project-text{
        padding: 5rem;
        .btn{
            font-size: 80%;
            color: $primary-color;
            font-family: $secondary-font;
            border: 1px solid $primary-color;
            transition: all 300ms ease-in;
            &:hover{
                background-color: $primary-color;
                color: white;
            }
        }
    }
}