.skill-section{
    padding: 7.5rem 0;
    .skill-heading{
        @include section-heading();
        padding: 0 20px 48px 20px;
    }
    .skill-container{
        padding: 2rem 0.5rem;
        .single-skill{
            flex-basis: 150px;
            img{
                width: 40px;
            }
        }
    }
}